body {
background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/simulated-stars-in-night-sky_v1fysmn7__F0000.png);
}

.top {
  color: #abfdff;
  font-size: 150px;
  background: url(https://i.redd.it/66hz1cc1ix111.gif);
  text-align: center;
  margin: 0;
  padding: 100px;
  font-family: 'Abril Fatface', cursive;
}

h1,h2,p,td {
  font-family: 'Volkhov', serif;
  color: #abfdff;
  text-align: center;
  font-size: 30px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

td{
  font-size: 20px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 200px;
}
.card {
  text-align: center;
  border: 10px solid white;
  box-shadow: 10px 10px 50px 30px #abfdff;
  background: black;
  color: #abfdff;
  font-family: 'Abril Fatface', cursive;
}

.end{
  text-align: center;
  margin-bottom: 50px;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 50px -7px #dcecfb;
  -webkit-box-shadow:inset 0px 1px 50px -7px #dcecfb;
  box-shadow:inset 0px 1px 50px -7px #dcecfb;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
  background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
  background-color:#bddbfa;
  -moz-border-radius:23px;
  -webkit-border-radius:23px;
  border-radius:23px;
  border:2px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial,sans-serif;
  font-size:28px;
  font-weight:bold;
  padding:19px 19px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
  background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
  background-color:#80b5ea;
}
.myButton:active {
  position:relative;
  top:1px;
}